@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');
 body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  .frame {
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    
    .navbar .navbar-inner {
      border-radius: 0;
      padding-left: 5px;
    }
    
    .menu {
      height:100%;
      /* background-color: #3D6AA2; */

      &.collapse {
        float:left;
        height: 100% !important;
        width: auto;
      }
  
      &.collapse.height {
        position: relative;
        height: 0;
        overflow: hidden;
        -webkit-transition: height 0.35s ease;
        -moz-transition: height 0.35s ease;
        -o-transition: height 0.35s ease;
        transition: height 0.35s ease;
      }
  
      &.collapse.width {
        position: relative;
        width: 0;
        overflow: hidden;
        -webkit-transition: width 0.35s ease;
        -moz-transition: width 0.35s ease;
        -o-transition: width 0.35s ease;
        transition: width 0.35s ease;
      }
      
      &.collapse.in.width {
        width: auto;
      }
      
      &.collapse.in.height {
        height: auto;
      }
    
      .collapse-inner {
        position: relative;        
        width: 250px;
        height: 100%;
      }
      
      .navbar .navbar-inner {
        text-align: center;
        color: grey;
        font-size: 1.2em;
        line-height: 38px;
      }
      
      .nav-stacked {
        padding: 0 10px;
      }
        
    }
    .view {
      width: 50%;
      height: 100%;
      overflow: hidden;
      
      .navbar .navbar-inner .btn-navbar {
        display: block;
        float: left;
      }
      #content {
        margin: auto 15px;
        text-align: justify;
      }
    }
  }
}