.h21 {
  height: 21px;
}
.mini_calendar {
  width:40px; 
  border-right: 1px solid #94c0ed;
}
.mini_calendar_text {
  font-size: 10px;
  margin-left: 15px;
  padding-right: 5px;
  width:22px;
}
.mini_calendar_text_big {
  font-size: 18px;
}
.table td {
  border-top-color: #94c0ed;
}
.dark_row {
  background-color: #c2dff0;
}

.logo_winners {
  height:127px;
  background: transparent url('../images/logo.png') no-repeat fixed top;
}

.small_font {
  font-size: 14px;
}

.inner_pad {
  padding-left: 5px;
  padding-right: 5px;
}
.feedback_icon {
  height: 24px;
  width: 24px;
  background: transparent url('../images/icon_comments.png') no-repeat fixed top;
}

.overflow {
  overflow: auto;
  text-overflow: clip;
}

#feedback_field {
  font-size:14px;
  resize: none; 
  width:100%; 
  height:100px;
}

.search_bg {
  background-color: #6BA5DA;
}