.h21 {
  height: 21px;
}
.mini_calendar {
  width:40px; 
  border-right: 1px solid #94c0ed;
}
.mini_calendar_text {
  font-size: 10px;
  margin-left: 15px;
  padding-right: 5px;
  width:22px;
}
.mini_calendar_text_big {
  font-size: 18px;
}
.table td {
  border-top-color: #94c0ed;
}
.dark_row {
  background-color: #c2dff0;
}

.logo_winners {
  height:127px;
  background: transparent url('../images/logo.png') no-repeat fixed top;
}